.brand-logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @menuColorActive;
  }

  img {
    height: @headerHeight / 2;
    margin-right: 0.5rem;
  }
}
